# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# QtCreator

*.autosave

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# include the makefile

!Makefile

# images

images
"example pictures/prezentace"
*.png
!"example pictures/*"

#exclude test

./sources/test.cpp
